<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fan.configserver.mapper.ResourceEnvMapper" >
  <resultMap id="BaseResultMap" type="com.fan.configserver.po.ResourceEnv" >
    <id column="resource_env_id" property="resourceEnvId" jdbcType="BIGINT" />
    <result column="resource_id" property="resourceId" jdbcType="BIGINT" />
    <result column="resource_env_name" property="resourceEnvName" jdbcType="VARCHAR" />
    <result column="resource_env_desc" property="resourceEnvDesc" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    resource_env_id, resource_id, resource_env_name, resource_env_desc, create_time, 
    update_time, create_user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fan.configserver.po.ResourceEnvExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_resource_env
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_resource_env
    where resource_env_id = #{resourceEnvId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_resource_env
    where resource_env_id = #{resourceEnvId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fan.configserver.po.ResourceEnvExample" >
    delete from t_resource_env
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fan.configserver.po.ResourceEnv" >
    insert into t_resource_env (resource_env_id, resource_id, resource_env_name, 
      resource_env_desc, create_time, update_time, 
      create_user_id)
    values (#{resourceEnvId,jdbcType=BIGINT}, #{resourceId,jdbcType=BIGINT}, #{resourceEnvName,jdbcType=VARCHAR}, 
      #{resourceEnvDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.fan.configserver.po.ResourceEnv" >
    insert into t_resource_env
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resourceEnvId != null" >
        resource_env_id,
      </if>
      <if test="resourceId != null" >
        resource_id,
      </if>
      <if test="resourceEnvName != null" >
        resource_env_name,
      </if>
      <if test="resourceEnvDesc != null" >
        resource_env_desc,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resourceEnvId != null" >
        #{resourceEnvId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="resourceEnvName != null" >
        #{resourceEnvName,jdbcType=VARCHAR},
      </if>
      <if test="resourceEnvDesc != null" >
        #{resourceEnvDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fan.configserver.po.ResourceEnvExample" resultType="java.lang.Integer" >
    select count(*) from t_resource_env
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_resource_env
    <set >
      <if test="record.resourceEnvId != null" >
        resource_env_id = #{record.resourceEnvId,jdbcType=BIGINT},
      </if>
      <if test="record.resourceId != null" >
        resource_id = #{record.resourceId,jdbcType=BIGINT},
      </if>
      <if test="record.resourceEnvName != null" >
        resource_env_name = #{record.resourceEnvName,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceEnvDesc != null" >
        resource_env_desc = #{record.resourceEnvDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_resource_env
    set resource_env_id = #{record.resourceEnvId,jdbcType=BIGINT},
      resource_id = #{record.resourceId,jdbcType=BIGINT},
      resource_env_name = #{record.resourceEnvName,jdbcType=VARCHAR},
      resource_env_desc = #{record.resourceEnvDesc,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fan.configserver.po.ResourceEnv" >
    update t_resource_env
    <set >
      <if test="resourceId != null" >
        resource_id = #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="resourceEnvName != null" >
        resource_env_name = #{resourceEnvName,jdbcType=VARCHAR},
      </if>
      <if test="resourceEnvDesc != null" >
        resource_env_desc = #{resourceEnvDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
    </set>
    where resource_env_id = #{resourceEnvId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fan.configserver.po.ResourceEnv" >
    update t_resource_env
    set resource_id = #{resourceId,jdbcType=BIGINT},
      resource_env_name = #{resourceEnvName,jdbcType=VARCHAR},
      resource_env_desc = #{resourceEnvDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=BIGINT}
    where resource_env_id = #{resourceEnvId,jdbcType=BIGINT}
  </update>
</mapper>